/*CONFIG PAG:*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100vh;
}
body {
  min-height: 100%;
  font-family: sans-serif, serif;
  letter-spacing: 1px;
  background-color: #252525;
  overflow-x: hidden;
}

/*Textos:*/
h1,
h2,
p,
a {
  color: white;
}

/*Cabecalio:*/
header {
  margin-bottom: 20px;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #58d67c solid 3px;
  background-color: #111;
}
header h1 a {
  text-decoration: none;
  transition: color 400ms;
}
header h1 a:hover {
  color: #58d67c;
}
header nav a {
  color: #252525;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  background-color: #58d67c;
  padding: 10px;
  border: 1px black solid;
  border-radius: 20px;
}

/*Corpo:*/
main {
  width: 95%;
  min-height: calc(100vh - 78px - 76px);
  margin: auto;
}
main h2 {
  text-align: center;
  font-size: 1.7em;
}

/*Bordas caracteristicas (js):*/
.verde {
  border-bottom: #58d67c 3px solid;
}
.vermelho {
  border-bottom: 3px solid #e5383b;
}
.verdeHover:hover {
  border: solid 3px #58d67c;
}
.verdeFocus:focus {
  border: 3px solid #58d67c;
}
.vermelhoHover:hover {
  border: solid 3px #e5383b;
}
.vermelhoFocus:focus {
  border: solid 3px #e5383b;
}
.verdeHoverPequeno:hover {
  border: solid 2px #58d67c;
}
.vermelhoHoverPequeno:hover {
  border: solid 2px #e5383b;
}

/*Rodape:*/
footer {
  background-color: black;
  width: 100%;
  text-align: center;
  font-size: 1em;
  padding: 15px;
  border-top: solid 3px #58d67c;
}

.texto-pequeno {
  font-size: 0.8em;
}

/* SCROLL PERSONALIZADO: */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #58d67c;
  border-radius: 40px;
}
