/*CONFIG PAG:*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100vh;
}
body {
  min-height: 100%;
  font-family: sans-serif, serif;
  letter-spacing: 1px;
  background-color: #252525;
  overflow-x: hidden;
}

/*Textos:*/
h1,
h2,
p,
a {
  color: white;
}

/*Cabecalio:*/
header {
  margin-bottom: 20px;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #58d67c solid 3px;
  background-color: #111;
}
header h1 a {
  text-decoration: none;
  transition: color 400ms;
}
header h1 a:hover {
  color: #58d67c;
}
header nav a {
  color: #252525;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  background-color: #58d67c;
  padding: 10px;
  border: 1px black solid;
  border-radius: 20px;
}

/*Corpo:*/
main {
  width: 95%;
  min-height: calc(100vh - 78px - 76px);
  margin: auto;
}
main h2 {
  text-align: center;
  font-size: 1.7em;
}

/* Caixa resultado: */
#boxResultado {
  background-color: #111;
  max-width: 200px;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  border: 3px solid rgb(255, 219, 166);
  border-radius: 20px;
  overflow: hidden;
}
#resultado {
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
}

/*Caixas ganhos/despesas:*/
#box-ganhos-perdas {
  display: flex;
  min-width: 100%;
}
#ganhos {
  border: 3px solid #58d67c;
  background-color: #111;
  width: 48%;
  margin: 18px 1%;
  min-height: 370px;
  border-radius: 20px;
}
#perdas {
  border: 3px solid #e5383b;
  background-color: #111;
  margin: 18px 1%;
  width: 48%;
  min-height: 370px;
  border-radius: 20px;
}

/*Itens:*/
.itemPequeno {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 18px;
}

/*Titulos caixas ganhos perdas:*/
.titulo-ganhos {
  color: white;
  font-size: 1.3em;
  text-align: center;
  padding: 10px 0 10px 0;
  border-bottom: #58d67c 3px solid;
  border-radius: 10px;
}

.titulo-perdas {
  color: white;
  font-size: 1.3em;
  text-align: center;
  padding: 10px 0 10px 0;
  border-bottom: #e5383b 3px solid;
  border-radius: 10px;
}

/*INPUTS:*/
/*Texto e valor:*/
.inputTexto {
  color: white;
  padding: 5px;
  margin: 0 8px;
  border: none;
  border-radius: 20px;
  border: 3px solid white;
  font-size: 1em;
  text-align: center;
  background-color: #111;
  max-width: 38%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputTexto:focus,
.inputTexto:active {
  outline: none;
}

/*Botao:*/
.adicionarItem {
  border: none;
  padding: 3px 13px;
  border-radius: 100%;
  font-size: 2em;
  background-color: #111;
  color: white;
}
.adicionarItem:hover {
  padding: 0 10px;
}
.adicionarItem:focus,
.adicionarItem:active {
  outline: none;
}

.botaoApagar {
  font-size: 1em;
  border: none;
  padding: 3px 7px;
  border-radius: 100%;
  background-color: #111;
  color: white;
}
.botaoApagar:hover {
  padding: 1px 5px;
}
.botaoApagar:focus,
.botaoApagar:active {
  outline: none;
}

/*Bordas caracteristicas:*/
.verde {
  border-bottom: #58d67c 3px solid;
}
.vermelho {
  border-bottom: 3px solid #e5383b;
}
.verdeHover:hover {
  border: solid 3px #58d67c;
}
.vermelhoHover:hover {
  border: solid 3px #e5383b;
}
.verdeHoverPequeno:hover {
  border: solid 2px #58d67c;
}
.vermelhoHoverPequeno:hover {
  border: solid 2px #e5383b;
}

/*Rodape:*/
footer {
  background-color: black;
  width: 100%;
  text-align: center;
  font-size: 1em;
  padding: 15px;
  border-top: solid 3px #58d67c;
}

.texto-pequeno {
  font-size: 0.8em;
}

@media screen and (max-width: 700px) {
  #box-ganhos-perdas {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
  }
  #ganhos {
    border: 3px solid #58d67c;
    width: 96%;
    margin: 18px auto;
    min-height: 370px;
    border-radius: 20px;
  }
  #perdas {
    border: 3px solid #e5383b;
    margin: 18px auto;
    width: 96%;
    min-height: 370px;
    border-radius: 20px;
  }
}

/* SCROLL PERSONALIZADO: */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #58d67c;
  border-radius: 40px;
}
